<footer>
  <div class="container">
    <div class="footer-col">
      Hello from Los Angeles.<br/>
      <abbr title="Last build on {{site.time | date: '%Y-%m-%d'}}">{{ site.time | date: '%B %Y'}}</abbr>
    </div>
    <div class="footer-col site-desc">
      Feel free to contact me: <br/>
        &#x2800  - Email: <a href=smhuang@g.ucla.edu>smhuang@g.ucla.edu</a> <br/>
        &#x2800  - LinkedIn: <a href=https://tw.linkedin.com/in/shih-ming-huang> Shih-Ming Huang</a> <br/>
        &#x2800  - Lab Office: <a href=https://www.dmlab.ee.ucla.edu/contact> Digital Microwave Lab</a> <br/>

    <!-- <div class="footer-col site-desc">{{ site.description }} -->
  </div>
</footer>
